<div class="page-wrapper">
  <div class="card">
    <div class="icon"><img src="/assets/images/key.svg" alt="" /></div>

    <h2 class="title">Set a new password</h2>
    <p class="subtitle">
      Your new password must be different from previously used <strong>Password.</strong>
    </p>

    <label for="newPassword">New Password</label>
    <input id="newPassword" type="password" placeholder="••••••••••" [(ngModel)]="newPassword" />

    <label for="confirmPassword">Confirm Password</label>
    <input
      id="confirmPassword"
      type="password"
      placeholder="••••••••••"
      [(ngModel)]="confirmPassword"
      (keyup.enter)="onReset()"
    />

    <button class="btn-confirm" (click)="onReset()">Reset Password</button>

    <p class="backToLogin"><a routerLink="/login">Back to Login</a></p>
  </div>
</div>
