<div class="page-wrapper">
  <div class="card">

    <div class="icon">?</div>

    <h2 class="title">Forgot password?</h2>
    <p class="subtitle"> Enter your email and we'll send a verification code to your <strong> Gmail.</strong></p>

    <input
      type="email"
      placeholder="student@liceo.edu.ph"
      [(ngModel)]="email"
      (keyup.enter)="onReset()"
    />

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <div class="buttons">
      <button class="btn-cancel" (click)="onCancel()">Cancel</button>
      <button class="btn-reset" (click)="onReset()">Send Code</button>
    </div>

  </div>
</div>