<div class="navbar">
  <div class="snackbar" *ngIf="showSnackbar">{{ snackbarMessage }}</div>
  <div class="navbar-left">
    <p class="nav-title">Admin Dashboard</p>
    <p class="nav-subtitle">Manage all reports</p>
  </div>

  <div class="navbar-right">
    <div class="user-dropdown" (click)="toggleDropdown()">
      <img src="/assets/images/user-white.svg" class="user-icon-img" alt="user" />
      <span class="user-name">{{ studentName }}</span>
      <span class="arrow">▾</span>

      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <p class="dropdown-item" (click)="onLogout()">Logout</p>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="stats-row">
    <div class="stat-card">
      <div class="stat-top">
        <span class="stat-label">Total Reports</span>
        <img src="/assets/images/file-dots.svg" class="icon" alt="Total Reports" />
      </div>
      <p class="stat-number">{{ totalReports }}</p>
    </div>

    <div class="stat-card">
      <div class="stat-top">
        <span class="stat-label">Submitted</span>
        <img src="/assets/images/clock.svg" class="icon" alt="Submitted" />
      </div>
      <p class="stat-number">{{ submitted }}</p>
    </div>

    <div class="stat-card">
      <div class="stat-top">
        <span class="stat-label">In Progress</span>
        <img src="/assets/images/trending-up.svg" class="icon" alt="In Progress" />
      </div>
      <p class="stat-number">{{ inProgress }}</p>
    </div>

    <div class="stat-card">
      <div class="stat-top">
        <span class="stat-label">Resolved</span>
        <img src="/assets/images/circle-check.svg" class="icon" alt="Resolved" />
      </div>
      <p class="stat-number">{{ resolved }}</p>
    </div>
  </div>

  <!-- Bar Chart -->
  <p class="section-title">Monthly Reports Overview</p>
  <p class="section-subtitle">
    Shows the number of reports submitted each month to help track activity over time.
  </p>

  <div class="chart-box">
    <canvas #barChart></canvas>
  </div>

  <!-- Filters -->
  <div class="filter-row">

  <!-- Filter by Status -->
  <div class="filter-group">
    <label>Filter by Status</label>
    <div class="filter-wrapper">
      <span class="filter-btn" (click)="isStatusFilterOpen = !isStatusFilterOpen">
        {{ filterStatus }} ▾
      </span>
      <div class="filter-options" *ngIf="isStatusFilterOpen">
        <p (click)="filterStatus = 'All Status'; isStatusFilterOpen = false">All Status</p>
        <p (click)="filterStatus = 'Submitted'; isStatusFilterOpen = false">Submitted</p>
        <p (click)="filterStatus = 'In Progress'; isStatusFilterOpen = false">In Progress</p>
        <p (click)="filterStatus = 'Resolved'; isStatusFilterOpen = false">Resolved</p>
        <p (click)="filterStatus = 'Closed'; isStatusFilterOpen = false">Closed</p>
      </div>
    </div>
  </div>

  <!-- Type of Report -->
  <div class="filter-group">
    <label>Type of Report</label>
    <div class="filter-wrapper">
      <span class="filter-btn" (click)="isTypeFilterOpen = !isTypeFilterOpen">
        {{ filterType }} ▾
      </span>
      <div class="filter-options" *ngIf="isTypeFilterOpen">
        <p (click)="filterType = 'All Reports'; isTypeFilterOpen = false">All Reports</p>
        <p (click)="filterType = 'Suggestion'; isTypeFilterOpen = false">Suggestion</p>
        <p (click)="filterType = 'Complain'; isTypeFilterOpen = false">Complain</p>
        <p (click)="filterType = 'Inquiry'; isTypeFilterOpen = false">Inquiry</p>
      </div>
    </div>
  </div>

</div>

  <div class="report-list" *ngIf="reports.length > 0">
    <div class="report-card" *ngFor="let report of filteredReports" (click)="onViewReport(report)">
      <div class="report-header">
        <h3 class="report-title">{{ report.title }}</h3>
        <span class="report-status" [ngClass]="getStatusClass(report.status)" >{{ report.status }}</span>
      </div>

      <div class="report-meta">
        <span><strong>Category:</strong> {{ report.category }}</span>
        <span><strong>Type of Report:</strong> {{ report.reportType }}</span>
        <span class="date"><strong>Date Created:</strong> {{ report.date }}</span>
      </div>

      <p class="report-description" style="word-break: break-all;">{{ report.description }}</p>
    </div>
  </div>
</div>
